body{
  margin: 0;
  display: flex;
  justify-content: center;
}

button{
  height: 30px;
  width: 30px;
  line-height: 15px;

}

.game-info button{
  height: 30px;
  width: 150px;
  border-radius: 10px;
  background-color: purple;
}

.game{
  flex: 1;
}

.board-row{
  display: flex;
}

.status{
  color: purple;
}