body{
  margin: 0;
  padding-top: 10%;
  display: flex;
  justify-content: center;
  background-color: black;
}

button{
  height: 100px;
  width: 100px;
  line-height: 50px;
  background-color: orange;
}

.game-info button{
  height: 30px;
  width: 150px;
  border-radius: 10px;
  line-height: 15px;
  background-color: purple;
}

.game{
  display: flex;
  flex: 1;
}

.segment{
  flex: 1;
}

.board-row{
  display: flex;
}

.square{
  font-size: 100px;
  font-weight: bold;
}
.status{
  font-size: 50px;
}

.status{
  color: purple;
}